* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Road Rage', sans-serif;
	color: #EDF2F7;
}



h1 {
	font-weight: 400;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
	font-weight: 300;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.landing {
	height: 100vh;
	background: #1a2130;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	background-image: url('/images/landing.jpg');
}

.parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	gap: 40px;
	overflow-y: auto;
	
}

.parent h1 {
	font-size: 4rem;
}

.logo-container {
	margin: 0;
	width: 400px;
	max-width: 60%;
}

.logo-container > img {
	width: 100%;
}

.social-icons {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

.social-icons img {
	width: 40px;
	cursor: pointer;
}
